.nav-bar {
    width: 100%;
    background: cyan;
}
nav {
    max-width: 1720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
.left-menu {
    grid-column: 1;
    align-self: center;
}
.logo {
    font-size: 50px;
    padding: 1rem;
}
nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    transition: .3s all ease-in-out;
}
.left-menu a {
    padding: 10px 0;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
#search {
    color: grey;
    font-size: 20PX;
    width: 500px;
    height: 40px;
}
.form {
    max-width: 1000px;
    padding: 20px 20px;
    margin: 10px auto;
    padding: 20px;
    background: cyan;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.form fieldset{
	border: none;
}
.form legend {
	font-size: 2em;
	margin-bottom: 15px;
}
.form label {
	display: block;
	margin-bottom: 8px;
}
.form input[type="text"],

.form input[type="url"],
.form textarea,

.form input[type="text"]:focus,
.form textarea:focus,
.form input[type="submit"],
.form input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color:black;
	margin: 0 auto;
	background:white;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 80%;
	border: 1px solid white;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.for input[type="submit"]:hover,
.form input[type="button"]:hover
{
	background: skyblue;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
table, th, td {
    border: 2px solid black;
}thead {
    background-color:brown;
    color:cyan;
    }

th {
    text-align: center;
    height: 100px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

tbody tr {
    background: cyan;
    color: brown;

    }

tr{
    text-align: center;
    height: 75px;
    }

